binary-pattern {
    padding: 1px;
    display: block;

    min-height: 15px;
    overflow: hidden;
}

binary-pattern .binary {
    display: flex;
    flex-wrap: nowrap;
    background-color: #339;
    max-width: 800px;
    margin: 0 auto;
}

.example .binary {
    max-width: 150px;
    margin: 0px;
}

.binary.diff {
    background-color: #383;
}

.hex {
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-origin: padding-box;

    display: block;
    flex: 1;

    height: 22px;
}

.hex_0 {
    background-color: white;
}

.hex_1 {
    background: linear-gradient(
            to bottom,
            white, white 75%,
            transparent 75%
    );
}

.hex_2 {
    background: linear-gradient(
            to bottom,
            white 50%,
            transparent 50%, transparent 75%,
            white 75%
    );
}

.hex_3 {
    background: linear-gradient(
            to bottom,
            white 50%,
            transparent 50%, transparent 100%
    );
}

.hex_4 {
    background: linear-gradient(
            to bottom,
            white 25%,
            transparent 25%, transparent 50%,
            white 50%
    );
}

.hex_5 {
    background: linear-gradient(
            to bottom,
            white 25%,
            transparent 25%, transparent 50%,
            white 50%, white 75%,
            transparent 75%
    );
}

.hex_6 {
    background: linear-gradient(
            to bottom,
            white 25%,
            transparent 25%, transparent 75%,
            white 75%
    );
}

.hex_7 {
    background: linear-gradient(
            to bottom,
            white 25%,
            transparent 25%, transparent 100%
    );
}

.hex_8 {
    background: linear-gradient(
            to bottom,
            transparent 25%,
            white 25%, white 100%
    );
}

.hex_9 {
    background: linear-gradient(
            to bottom,
            transparent 25%,
            white 25%, white 75%,
            transparent 75%, transparent 100%
    );
}

.hex_A {
    background: linear-gradient(
            to bottom,
            transparent 25%,
            white 25%, white 50%,
            transparent 50%, transparent 75%,
            white 75%, white 100%
    );
}

.hex_B {
    background: linear-gradient(
            to bottom,
            transparent 25%,
            white 25%, white 50%,
            transparent 50%, transparent 100%
    );
}

.hex_C {
    background: linear-gradient(
            to bottom,
            transparent 50%,
            white 50%, white 100%
    );
}

.hex_D {
    background: linear-gradient(
            to bottom,
            transparent 50%,
            white 50%, white 75%,
            transparent 75%, transparent 100%
    );
}

.hex_E {
    background: linear-gradient(
            to bottom,
            transparent 75%,
            white 75%, white 100%
    );
}

.hex_F {
    background-color: transparent;
}